button {

    font-size: 2em;
    padding: 0.5rem;
}

img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 12px;
}

h1 {
    text-align: center;
    font-size: 3em;
    margin: 1em;
    color: rebeccapurple;

}

main {
    background-color: #f0f0f0;
}

.container {
    width: 50%;
    margin: auto;
    padding: 16px;
}

h1 {
    text-align: center;
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

label {
    font-weight: bold;
}

input[type=text], input[type=password], input[type=file] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #4caf50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    max-width: 500px;
}

button:hover {
    opacity: 0.8;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.avatar_profile {
    margin-top: 20px;
}

.container {
    margin-top: 50px;
}

.card {
    max-width: 400px;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-header {
    background-color: #f8f9fa; /* Color de fondo del encabezado */
}

.card-body {
    padding: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.label {
    display: block;
    font-weight: bold;
}

.input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.btn-primary {
    display: inline-block;
    background-color: #007bff; /* Color principal del botón */
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.text-center {
    text-align: center;
}
