.container {
    margin-top: 50px;
}

.card {
    max-width: 400px;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-header {
    background-color: #f8f9fa; /* Color de fondo del encabezado */
}

.card-body {
    padding: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.label {
    display: block;
    font-weight: bold;
}

.input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.btn-primary {
    display: inline-block;
    background-color: #007bff; /* Color principal del botón */
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.text-center {
    text-align: center;
}
